DATABASE_URL="postgresql://placelink:placelink_local@localhost:54329/placelink?schema=public"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
LOG_LEVEL="info"
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=""
KAKAO_LOCAL_REST_API_KEY=""
KMA_SERVICE_KEY=""
SEOUL_OPEN_DATA_API_KEY=""
CRON_SECRET=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
AUTH_SECRET=""
AUTH_KAKAO_ID=""
AUTH_KAKAO_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_LOGIN_ENABLED="true"
ADMIN_USER_IDS=""
STUDIO_OPERATOR_EMAILS=""
